<meta charset="UTF-8">
<title>Example</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
    body { padding-top: 50px; }
</style>

<div class="container">
  <div class="form-group">
    <button class="btn">Read from Files</button>
  </div>
  <div class="form-group">
    <label>Search:</label>
    <input type="text" class="form-control" id="searchForm" />
  </div>
  <div class="content border">

  </div>

</div>
