<meta charset="UTF-8">
<title>Example</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body { padding-top: 50px; }
</style>

<div class="container">
  
  <div class="form-group">
    <label>Search:</label>
    <input type="text" id="searchForm" />
  </div>
  <div class="content">

  </div>

</div>
